.progress {
    width: 100%;
    height: 15px;
}

.progress-wrap {
    background: #ddd;
    overflow: hidden;
    position: relative;
    top: 50px;

    .progress-bar {
        left: 0;
        position: absolute;
        top: 0;
    }
}

.stepwizard-step {
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 6px 0;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 50%;
    background-color: #c0c0c0;
    &:hover {
        cursor: auto;
    }
    &:active {
        color: black;
    }
}

.btn-circle.active {
    background-color: $primary !important;
    color: white !important;
}

.active-font {
    font-weight: bold;
    font-size: 130%;
}
